In [1]:
import pandas as pd
from sqlalchemy import create_engine
from dotenv import load_dotenv
import os

In [2]:
load_dotenv()
db_url=os.getenv("DATABASE_URL")

In [3]:
load_dotenv()
con =os.getenv("DATABASE_URL")

In [4]:
engine = create_engine(con)

In [5]:
tquery= '''
select * from
 public.transaction_data;
 '''  
transaction_data = pd.read_sql(tquery,con=engine)

In [6]:
transaction_data.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [7]:
pquery= '''
 select* from  
	public.super_data sd;
    '''

purchase_data = pd.read_sql(pquery,con=engine)

In [8]:
purchase_data.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [60]:
transaction_data.columns

Index(['DATE', 'STORE_NBR', 'LYLTY_CARD_NBR', 'TXN_ID', 'PROD_NBR',
       'PROD_NAME', 'PROD_QTY', 'TOT_SALES'],
      dtype='object')

In [61]:
purchase_data.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER'], dtype='object')

OBJECTIVES 
1. top 10 most purchased brands
2. total sales by customer life stage 
3. average spend per customer category

4. top 10 brands

In [12]:
supermarket_data=purchase_data.merge(transaction_data,on='LYLTY_CARD_NBR',how='right')

In [13]:
top_brands = (supermarket_data.groupby('PROD_NAME')['PROD_QTY'].sum().sort_values(ascending=False).head(10))

In [51]:
top_brands

PROD_NAME
Dorito Corn Chp     Supreme 380g            13018
Kettle Mozzarella   Basil & Pesto 175g      12762
Kettle Tortilla ChpsHny&Jlpno Chili 150g    12618
Cobs Popd Sea Salt  Chips 110g              12554
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    12512
Tostitos Splash Of  Lime 175g               12468
Tyrrells Crisps     Ched & Chives 165g      12454
Kettle 135g Swt Pot Sea Salt                12424
Infuzions Thai SweetChili PotatoMix 110g    12412
Thins Potato Chips  Hot & Spicy 175g        12370
Name: PROD_QTY, dtype: int64

top_brands

In [16]:
type(top_brands)

pandas.core.series.Series

In [17]:
type(transaction_data)

pandas.core.frame.DataFrame

In [15]:
top_brands

PROD_NAME
Dorito Corn Chp     Supreme 380g            13018
Kettle Mozzarella   Basil & Pesto 175g      12762
Kettle Tortilla ChpsHny&Jlpno Chili 150g    12618
Cobs Popd Sea Salt  Chips 110g              12554
Cobs Popd Swt/Chlli &Sr/Cream Chips 110g    12512
Tostitos Splash Of  Lime 175g               12468
Tyrrells Crisps     Ched & Chives 165g      12454
Kettle 135g Swt Pot Sea Salt                12424
Infuzions Thai SweetChili PotatoMix 110g    12412
Thins Potato Chips  Hot & Spicy 175g        12370
Name: PROD_QTY, dtype: int64

sales_lifestage

In [23]:
sales_lifestage =(supermarket_data.groupby('LIFESTAGE')['TOT_SALES'].sum().sort_values(ascending=False))

In [24]:
sales_lifestage

LIFESTAGE
OLDER SINGLES/COUPLES     804853.5
RETIREES                  732941.8
OLDER FAMILIES            707534.4
YOUNG FAMILIES            632320.2
YOUNG SINGLES/COUPLES     520810.6
MIDAGE SINGLES/COUPLES    369502.6
NEW FAMILIES              100866.9
Name: TOT_SALES, dtype: float64

avg_spend_category

In [19]:
avg_spend_category =(supermarket_data.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].mean())

In [20]:
avg_spend_category

PREMIUM_CUSTOMER
Budget        7.258838
Mainstream    7.361106
Premium       7.281556
Name: TOT_SALES, dtype: float64

Monthly sales trend

In [25]:
supermarket_data['YEAR']=supermarket_data['DATE'].dt.year

In [27]:
supermarket_data['MONTH']=supermarket_data['DATE'].dt.month

In [29]:
supermarket_data['MONTH_NAME']=supermarket_data['DATE'].dt.month_name()

In [30]:
supermarket_data.head()

,LYLTY_CARD_NBR,LIFESTAGE,PREMIUM_CUSTOMER,DATE,STORE_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES,YEAR,MONTH,MONTH_NAME
0,1000,YOUNG SINGLES/COUPLES,Premium,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,2018,10,October
1,1000,YOUNG SINGLES/COUPLES,Premium,2018-10-17,1,1,5,Natural Chip Compny SeaSalt175g,2,6.0,2018,10,October
2,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,348,66,CCs Nacho Cheese 175g,3,6.3,2019,5,May
3,1307,MIDAGE SINGLES/COUPLES,Budget,2019-05-14,1,348,66,CCs Nacho Cheese 175g,3,6.3,2019,5,May
4,1343,MIDAGE SINGLES/COUPLES,Budget,2019-05-20,1,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9,2019,5,May

In [32]:
monthly_sales=(supermarket_data.groupby(['YEAR','MONTH_NAME'])['TOT_SALES'].sum().sort_values(ascending=False))

In [37]:
monthly_sales=(supermarket_data.groupby(['YEAR','MONTH_NAME'])['TOT_SALES'].sum().reset_index().sort_values(['YEAR','MONTH_NAME']))

In [33]:
monthly_sales

YEAR  MONTH_NAME
2018  December      335826.8
2019  March         332530.4
2018  July          330550.6
      October       328831.4
2019  January       325284.6
      June          321077.2
2018  September     321044.0
      November      320467.4
2019  April         319690.2
2018  August        317462.1
2019  May           314735.3
      February      301330.0
Name: TOT_SALES, dtype: float64

In [41]:
yearly_sales=(supermarket_data.groupby(['YEAR'])['TOT_SALES'].sum().sort_values(ascending=False))

In [39]:
yearly_sales

YEAR
2018    1954182.3
2019    1914647.7
Name: TOT_SALES, dtype: float64

store perfomance
total sales by store

In [42]:
store_sales=(supermarket_data.groupby(['STORE_NBR'])['TOT_SALES'].sum().sort_values(ascending=False))

In [43]:
store_sales

STORE_NBR
226    37810.9
88     32666.5
165    31947.5
40     31119.0
237    31079.0
        ...
206       15.2
252       14.8
11        13.4
76        12.0
211       10.4
Name: TOT_SALES, Length: 272, dtype: float64

product performance
most profitable products

In [44]:
product_sales=(supermarket_data.groupby('PROD_NAME')['TOT_SALES'].sum().sort_values(ascending=False))

In [45]:
product_sales

PROD_NAME
Dorito Corn Chp     Supreme 380g            80704.0
Smiths Crnkle Chip  Orgnl Big Bag 380g      72735.2
Smiths Crinkle Chips Salt & Vinegar 330g    69608.4
Kettle Mozzarella   Basil & Pesto 175g      68914.8
Smiths Crinkle      Original 330g           68605.2
                                             ...
WW Crinkle Cut      Chicken 175g             9404.4
Sunbites Whlegrn    Crisps Frch/Onin 90g     9200.4
WW Crinkle Cut      Original 175g            9064.4
Woolworths Mild     Salsa 300g               8469.0
Woolworths Medium   Salsa 300g               8100.0
Name: TOT_SALES, Length: 114, dtype: float64

Customer Behaviour
Which life stage buys the largest quantity

In [46]:
supermarket_data.columns

Index(['LYLTY_CARD_NBR', 'LIFESTAGE', 'PREMIUM_CUSTOMER', 'DATE', 'STORE_NBR',
       'TXN_ID', 'PROD_NBR', 'PROD_NAME', 'PROD_QTY', 'TOT_SALES', 'YEAR',
       'MONTH', 'MONTH_NAME'],
      dtype='object')

In [47]:
quantity_buy_lifestage=(supermarket_data.groupby('LIFESTAGE')['PROD_QTY'].sum().sort_values(ascending=False))

In [48]:
quantity_buy_lifestage

LIFESTAGE
OLDER SINGLES/COUPLES     208406
OLDER FAMILIES            189984
RETIREES                  188332
YOUNG FAMILIES            169122
YOUNG SINGLES/COUPLES     133268
MIDAGE SINGLES/COUPLES     95442
NEW FAMILIES               25694
Name: PROD_QTY, dtype: int64

Which premium tier/customer spends the most overall?

In [49]:
premium_tier=(supermarket_data.groupby('PREMIUM_CUSTOMER')['TOT_SALES'].sum().sort_values(ascending=False))

In [50]:
premium_tier

PREMIUM_CUSTOMER
Mainstream    1501489.0
Budget        1352423.1
Premium       1014917.9
Name: TOT_SALES, dtype: float64