In [2]:
import pandas as pd
from sqlalchemy import create_engine

In [3]:
from dotenv import load_dotenv 
import os

In [4]:
load_dotenv()

True

In [5]:
db_url=os.getenv("DATABASE_URL")
db_url

'postgresql+psycopg2://postgres:12345@localhost:5432/supermarket'

In [15]:
purchase_df=pd.read_csv("purchase.csv")
transaction_df=pd.read_excel("transaction.xlsx")

In [7]:
purchase_df.head()

   LYLTY_CARD_NBR               LIFESTAGE PREMIUM_CUSTOMER
0            1000   YOUNG SINGLES/COUPLES          Premium
1            1002   YOUNG SINGLES/COUPLES       Mainstream
2            1003          YOUNG FAMILIES           Budget
3            1004   OLDER SINGLES/COUPLES       Mainstream
4            1005  MIDAGE SINGLES/COUPLES       Mainstream

In [17]:
transaction_df.head()

,DATE,STORE_NBR,LYLTY_CARD_NBR,TXN_ID,PROD_NBR,PROD_NAME,PROD_QTY,TOT_SALES
0,2018-10-17,1,1000,1,5,Natural Chip Compny SeaSalt175g,2,6.0
1,2019-05-14,1,1307,348,66,CCs Nacho Cheese 175g,3,6.3
2,2019-05-20,1,1343,383,61,Smiths Crinkle Cut Chips Chicken 170g,2,2.9
3,2018-08-17,2,2373,974,69,Smiths Chip Thinly S/Cream&Onion 175g,5,15.0
4,2018-08-18,2,2426,1038,108,Kettle Tortilla ChpsHny&Jlpno Chili 150g,3,13.8

In [12]:
engine = create_engine(db_url)

In [18]:
purchase_df.to_sql("super_data",con=engine,if_exists="append",index=False)

637

In [24]:
transaction_df.to_sql("transaction_data",con=engine,if_exists="append",index=False)

836